.code-block {
  font-size: 14px;
  font-style: normal;

  pre {
    font-style: normal;
  }
}

.code-block-simple {
  padding: 20px;
  background: #ddd;
  font-family: Courier, monospace;
  font-size: 14px;
}