@import "variables";


// Button helpers

@mixin button($background, $color, $background-hover: false) {
  background: $background;
  color: $color;
  &:hover,
  &:active {
    color: $color;
    background: darken($background, 10);
  }
  &.button.hollow {
    background: none;
    border: 2px solid $background;
    color: $background;
    transition: background 0.3s;
    &:hover,
    &:active {
      background: rgba($background, 0.1);
    }
  }
}



button {
  cursor: pointer;
}


// Core
.button {
  //@extend %disable-selection;
  @extend .font-sans-serif !optional;
  display: inline-block;
  line-height: 1;
  padding: ($height-button - $font-size-button) / 2 rem(16);
  vertical-align: top;
  border: none;
  border-radius: rem(3);
  box-shadow: none;
  font-size: $font-size-button;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  border: none;

  &:hover {
    text-decoration: none;
  }

  span ~ i,
  i ~ span {
    margin-left: rem(4);
  }
}



.back {
  @include on("xs") {
    display: none !important;
    visibility: hidden;
  }
}





//button variants

.button {
  @include button($color-bg-neutral, $color-text);
}

.button.primary {
  @include button($color-bg-primary, white);
}

.button.secondary {
  @include button($color-bg-secondary, white);
}

.button.alert {
  @include button($color-bg-alert, white);
}

.button.inverted {
  @include button(white, $color-text);
}

.button.hover {
  border: none;
  background: none;
  transition: 0.3s;
  text-transform: none;
  &:hover {
    background: $color-bg-gray-light;
    box-shadow: 0 3px darken($color-bg-gray-light, 7);
  }
  &:active {
    background: $color-bg-yellow;
    box-shadow: 0 3px darken($color-bg-yellow, 15);
    transition: none;
  }
}





.button.big {
  padding: ($height-button * 1.3 - $font-size-button) / 2 rem(20);
}

.button.wide {
  padding-left: rem(30);
  padding-right: rem(30);
}

.button.square {
  padding: ($height-button - $font-size-button) / 2;
}


.button-share {
  display: block;
  width: rem(42);
  height: rem(42);
  line-height: rem(42);
  text-align: center;
  color: white;
}

.button-share-facebook {
  @extend .bg-facebook !optional;
}

.button-share-twitter {
  @extend .bg-twitter !optional;
}

.button-share-email {
  @extend .bg-email !optional;
}




/*
 * Button States
 */


// Hover state
.button:hover {
  transition: background-position 0.1s linear;
}

// Focus state
.button:focus {
  //@extend %focus-outline;
}

// Active state
.button.active,
.button:active {
  outline: 0;
  box-shadow: inset 0 rem(1) rgba(0, 0, 0, 0.05);
}

// Disabled state
.button.disabled,
.button[disabled],
.button[disabled]:hover,
.button.disabled:hover {
  cursor: not-allowed;
  background: $color-bg-neutral;
  color: lighten($color-text, 5);
}



