$height-button:         rem(40) !default;
$font-size-button:      rem(18) !default;

$color-bg-neutral:      #cccccc !default;
$color-text:            #000000 !default;
$color-bg-primary:      #dddddd !default;
$color-bg-secondary:    #aaaaaa !default;
$color-bg-alert:        #888888 !default;
$color-bg-gray-light:   #dddddd !default;
$color-bg-yellow:       #bbbbbb !default;